{{define "index.html"}}
<!DOCTYPE html>
<html>
    <head>
      <link rel="shortcut icon" href="/static/pic/icon.png" type="image/x-icon" />
      <meta charset="utf-8">
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script type="text/javascript" charset="utf8" src="/static/js/index.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/index.css">
      <title>Kaos</title>
    </head>
    <body>
      <div id="report">
        <table id="reportTable" class="display" style="width:100%">
          <col width="20%">
          <col width="20%">
          <col width="30%">
          <col width="30%">
          <thead>
              <tr>
                  <th>View</th>
                  <th>No.</th>
                  <th>File</th>
                  <th>Ts</th>
              </tr>
          </thead>
          <tbody id="reportBody">
          </tbody>
        </table>
      </div>
      <div id="stats">
        <table id="statsTable" class="display" style="width:100%">
          <col width="20%">
          <col width="20%">
          <col width="30%">
          <col width="30%">
          <thead>
              <tr>
                  <th>View</th>
                  <th>No.</th>
                  <th>File</th>
                  <th>Ts</th>
              </tr>
          </thead>
          <tbody id="statsBody">
          </tbody>
        </table>
      </div>
      </div>
    </body>
</html>
{{end}}


