{{define "report.html"}}
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
      <script type="text/javascript" charset="utf8" src="/static/js/table.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/table.css">
      <title>Kaos</title>
    </head>
    <body>
      <table id="myTable" class="display">
          <col width="25%">
          <col width="25%">
          <col width="25%">
          <col width="25%">
          <thead>
              <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Result</th>
                  <th>Ts</th>
                  <th>Link</th>
              </tr>
          </thead>
          <tbody>
              {{range $key,$value := .}}
              <tr>
                {{range $key,$value2 := $value}}
                <td>{{$value2}}</td>
                {{end}}
                <td>
                  <a href="http://www.pureexample.com/tw/jquery/basics.html">TestLink</a>
                </td>
              </tr>
              {{end}}
          </tbody>
      </table>
    </body>
  </html>
{{end}}


