{{define "statistics.html"}}
  <!DOCTYPE html>
  <html>
    <head>
      <link rel="shortcut icon" href="/static/pic/icon.png" type="image/x-icon" />
      <meta charset="utf-8">
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
      <script type="text/javascript" charset="utf8" src="/static/js/statistics.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/statistics.css">
      <title>Kaos</title>
    </head>
    <body>
      <table id="statsTable" class="display">
          <col width="10%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <thead>
              <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Pass</th>
                  <th>Fail</th>
                  <th>Total</th>
                  <th>Pass Rate(%)</th>
                  <th>Ts</th>
              </tr>
          </thead>
          <tbody>
              {{range $key,$value := .}}
              <tr>
                {{range $key,$value2 := $value}}
                <td>{{$value2}}</td>
                {{end}}
              </tr>
              {{end}}
          </tbody>
      </table>
    </body>
  </html>
{{end}}


